/* Importando as fontes Montserrat e Poppins */
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* Padronizando Configurações de Estilo */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
  background-color: #334155;
  font-family: "Poppins", sans-serif;
}

h1, h2, h3, h4 {
  font-family: "Montserrat", sans-serif;
}

i {
  font-size: 1.3rem;
}

a {
  color: #fff;
  text-decoration: none;
}

ul {
  list-style-type: none;
  padding: 0 20px;
}

button {
  background: none;
  border: none;
  color: #fff;
}

/* Container Principal */
main {
  border-radius: 30px;
  /* Efeito Glass (Vidro) */
  background-color: rgba(255, 255, 255, 0.2);
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 1px solid rgba(255, 255, 255, 0.3);
  color: #fff;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  width: 75%;
  min-height: 400px;
  padding: 20px 20px 0px 20px;
}

/* Título/nome do App */
main h1 {
  font-weight: 600;
  font-size: 1.2rem;
  margin-bottom: 50px;
}

/* Informações da Cidade Localizada */
.temperature-container {
  border: 6px solid #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 25px;

  width: 90px;
  height: 90px;
  border-radius: 100%;
}

.temperature {
  font-weight: 600;
  font-size: 2.5rem;
  font-family: "Montserrat", sans-serif;
}

.city-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 40px;
  margin-bottom: 50px;
}

.city-info .weather-container {
  display: flex;
  gap: 12px;
}

/* Clima e Cidade */
.weather-container .weather-info {
  display: flex;
  flex-direction: column;
  gap: 4px;
}

/* Tipo de Clima */
.weather {
  font-size: 1rem;
  font-weight: 500;
  text-transform: capitalize;
}

.city {
  font-weight: 300;
  font-size: 0.8rem;
}

/* Ícone de Localização */
.location-icon {
  border: 3px solid #fff;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;

  width: 16px;
  height: 16px;
  border-radius: 100%;
}

.location-icon i {
  font-size: 1.2rem;
}

/* Informações Extras de Clima */
.extra-info {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;
  margin-bottom: 10px;
}

.extra-info span {
  font-size: 0.9rem;
}

/* Mini menu de navegação inferior */
.more-options {
  background-color: rgba(255, 255, 255, 0.2);
  margin-top: 20px;
  width: 100%;
  padding: 30px 20px;
  border-radius: 30px;

  display: flex;
  justify-content: space-around;
  align-items: center;
}

.home, .forecast {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 8px;
  font-size: 0.9rem;
}

.home i, .forecast i {
  font-size: 1.2rem;
}

.search {
  border: 4px solid #fff;
  border-radius: 100%;
  background: none;
  color: #fff;
  width: 60px;
  height: 60px;

  display: flex;
  justify-content: center;
  align-items: center;

  cursor: pointer;
  transition: background-color 350ms;
}

.search:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

/* Modal do Forecast (Previsão do Tempo) */
.modal-forecast {
  position: fixed;
  width: 100%;
  background-color: rgb(51, 65, 85, 0.98);
  padding: 15px;
  border-radius: 12px;
  z-index: 1;
  opacity: 0;
}

.forecast-content {
  width: 100%;
}

.forecast-content button {
  width: 100%;
  text-align: end;
}

.forecast-content h3 {
  text-align: center;
  margin-bottom: 32px;
}

.is-visible {
  opacity: 1;
}

.forecast-list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  font-size: 0.8rem;
  text-transform: capitalize;
}

.forecast-list li {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.forecast-list img {
  width: 22px;
  height: 22px;
}

/* Classes para o background dinâmico */
body.sunny-day {
  background: url('../assets/img/sunny-day.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

body.clear-night {
  background: url('../assets/img/night.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

body.few-clouds-day {
  background: url('../assets/img/few-clouds-d.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

body.cloudy-day {
  background: url('../assets/img/cloudy-day.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}

body.cloudy-night {
  background: url('../assets/img/cloudy-night.png') no-repeat;
  background-size: cover;
  background-position: center center;
}

body.rainy-night {
  background: url('../assets/img/rainy-night.jpg') no-repeat;
  background-size: cover;
  background-position: center center;
}
